@import "../variables.scss";

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  &__burger {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    width: 34px;
    height: 25px;
    background: #fff;
    -webkit-mask: url("../img/menu.svg") no-repeat center;
    mask: url("../img/menu.svg") no-repeat center;
    &--black {
      background: #000;
    }
    &--open {
      -webkit-mask: url("../img/close.svg") no-repeat center;
      mask: url("../img/close.svg") no-repeat center;
      width: 34px;
      height: 34px;
      left: 20px;
      right: 0;
    }
    @media (min-width: $viewport-m) {
      display: none;
    }
  }
  &__menu {
    display: none;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-image: url("../img/header-bg.png");
    background-size: cover;
    left: 0;
    top: 0;
    @media (min-width: $viewport-m) {
      display: block;
      height: inherit;
      width: inherit;
      background-image: inherit;
      position: relative;
    }
    &--open {
      display: block;
    }

    &__list {
      margin-top: 55px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: $viewport-m) {
        flex-direction: row;
        margin: 0;
        padding: 20px 5px;
        justify-content: space-between;
        height: inherit;
      }
      &__item {
        color: $color-menu;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        font-size: $font-size-l;
        margin-bottom: 45px;
        &:last-child {
          margin: 0;
        }
        @media (min-width: $viewport-m) {
          font-size: $font-size-s;
          margin: 0;
        }
      }
    }
  }
}
