// COLORS
$color-menu: #fff;
$color-txt: #000;
$color-footer: #9b9b9b;

// FONT
$font-main: "Open Sans", sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 700;
$font-size-xs: 13px;
$font-size-s: 14px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 32px;

// MEDIA QUERIES
$viewport-m: 1024px;
